<script>

$(document).ready(function() {

    $("#workslink").click(function(event) {worksLinkClick(event, this) });
    $("#allpagelink").click(function(event) {allPageClick(event, this) });
    $("#workingsetlink").click(function(event) {workingSetClick(event, this) });
    $("#tagslink").click(function(event) {tagsLinkClick(event, this) });
    
});

</script>

<nav id="mainnav">
    <ul>
        <li>Recently Modified
            <ul>
            {% for f in recently_modified -%}
                <li><a href="/page/{{ f }}">{{ f }}</a></li>
            {%- endfor %}
            </ul>
            
        </li>
        <li><a href="#" data-page="{{ page.name }}" id="workingsetlink">Working Set</a></li>
        <li><a href="#" data-page="{{ page.name }}" id="allpagelink">All Pages</a></li>
        <li><a href="#" data-page="{{ page.name }}" id="workslink">Works</a></li>
        <li><a href="#" data-page="{{ page.name }}" id="tagslink">Tags</a></li>
    </ul>
</nav>

<div id="backplate"></div>
