<!doctype html>

<html>

<head>
    <title>WriterWiki</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/static/styles.css"/>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/writerwiki.js"></script>
    
    <script type="text/javascript">

$(document).ready(function(){
    periodicSave("{{ page.name }}")
    workingSetButton("{{ page.name }}")
    pageTags("{{ page.name }}")
    pageWorks("{{ page.name }}")
    
    $('#snapshot').click(function(event) { snapshotClick(event, this) });
    $('#addtowork').click(function(event) { worksButtonClick(event, this) });
    
 });
 
 // doesn't work in chrome
 $(window).unload(function(){
    var body = $("textarea")[0].value
    var obj = { content : body, commit : true }
    $.post('/page/{{ page.name }}', obj)
});

    </script>
</head>

<body>

{% include 'navigation.html' %}

<section id="main">
<h1>{{ page.name }}</h1>

<span id="list_of_works">(not in any works)</span>

<p>
<strong>Last Saved:</strong><span id="last_saved">...</span>&nbsp;&nbsp;
<strong>Last Snapshot:</strong><span id="last_snapshot">...</span>
</p>

<form id="wiki">
    <textarea id="textarea" data-page="{{ page.name }}" name="content">{{ page.content.read() }}</textarea><br>
</form>
</section>


<nav id="tools">
<form id="toolsform">
<!--
<select id="template" name="template">
    {% for t in templates -%}
        <option value="{{ t }}">{{ t }}</option>
    {%- endfor %}
    </select><br>
    <input id="insert_template" type="button" value="Insert Template"><br>
    -->
    <input id="snapshot" data-page="{{ page.name }}" type="button" value="Snapshot">
    <input id="addtowork" data-page="{{ page.name }}" type="button" value="Add to Work">
</form>
</nav>

</body>

</html>

